@media screen and (max-width: 1130px) and (min-width: 992px){
    /*Carousel*/
    
    .carousel.slide img{
        border-radius: 10px;
        width: 600px;
    }
}

@media screen and (max-width: 992px) and (min-width: 767px){

    /*Carousel*/
    .carousel.slide img{
        border-radius: 10px;
        width: 600px;
    }

    /*Cards*/
    .card{
        width: 250px;
        margin: auto;
    }

    .card img{
        height: 300px;
    }

    .card.img-3{
        margin-top: 30px;
    }
}